<div class="col-xs-8 col-xs-offset-2 see-box text-center">

	<h1 class='custom-h1'>
		Shayan Assar is my homeboy
	</h1>

	<%= link_to 'Launch', posts_path , :class=> 'btn btn-warning' %>

</div>
